<!DOCTYPE html>

<html>
    <head>
        <div style="width:800px; margin:0 auto;">
        <title>iLearn</title>
        <h1 style="text-align: center;">iLearn: Learn Anything</h1>
        <h3 style="text-align: center;">iLearn is an interactive web-application to intelligently support complex, goal-driven learning.<h3>
        </div>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
      <h3>{% block heading %}{% endblock %}</h3>

        {% block body %}
        {% endblock %}
    </body>

</html>