[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sigma = "*"
closure-linter = {file = "https://github.com/google/closure-linter/zipball/master"}

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
